lxml==4.9.3
numpy==1.21.4
opencv_contrib_python==4.8.0.74
opencv_python==4.8.0.74
Pillow==10.0.0
psutil==5.8.0
pylsl==1.15.0
PyQt5==5.15.9
PyQt5_sip==12.12.2
pytictoc==1.5.3
scipy==1.7.2
screeninfo==0.8.1
serpent==1.41
